
          <section class="wrapper">

<div class="row">
    <div class="col-lg-12 main-chart">



        <div class="row mt">
          <% Restaurant.all.each do |restaurant| %>
            <div class="col-md-4 col-sm-4 mb">
                <div class="white-panel pn">
                    <div class="white-header">
                        <h5><%= restaurant.name %></h5>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-6 goleft">
                            <p><i class="fa fa-heart"></i> <%= restaurant.loved_by %></p>
                        </div>
                        <div class="col-sm-6 col-xs-6"></div>
                    </div>
                    <a href="/order/<%= restaurant.url %>" data-transition="pop">
                    <div class="centered">
                        <img src="<%= restaurant.photo_url %>" width="120">
                    </div>
                    </a>
                </div>
            </div>
            
            <!-- /col-md-4 -->
          <% end %>

        </div>
        <!-- /row -->

					
                  </div><!-- /col-lg-9 END SECTION MIDDLE -->
                  
                  
      <!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->                  
                  
              </div><!--/row -->
          </section>
      