
          <section class="wrapper">

<div class="row">
    <div class="col-lg-12 main-chart">



        <div class="row mt">
          <%  Cartitem.all.group_by(&:item_name).each do |key,val| %>
            <div class="col-md-4 col-sm-4 mb">
                <div class="white-panel pn">
                    <div class="white-header">
                        <h5><%= key %></h5>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-6 goleft">
                            <p><i class="fa fa-heart"></i> 0<%# .loved_by %></p>
                        </div>
                        <div class="col-sm-6 col-xs-6"></div>
                    </div>
                    <a href="/order/<%= val.first.cart.restaurant.url %>" data-transition="pop">
                    <div class="centered">
                        <img src="<%= val.first.item.photo_url %>" width="120">
                    </div>
                    <br>
                    In about <%= val.count %> Carts

                    </a>
                </div>
            </div>
          <% end %>

        </div>
        <!-- /row -->

					
                  </div><!-- /col-lg-9 END SECTION MIDDLE -->
                                    
              </div><!--/row -->
          </section>
      