<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= Applingo.get("meta-description")%>">
    <meta name="author" content="<%= Applingo.get("meta-author")%>">
    <meta name="keyword" content="<%= Applingo.get("search-tags")%>" >

    <title><%= Applingo.get('dashboard-titlebar-heading')%></title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/zocial.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->

	  <div id="login-page"  >
	  	<div class="container">
	  		<div class="row" style="margin-top:50px">
	  			<div class="col-md-4" style="opacity:0.7">
	  				<img src="/images/pg2.jpg" width="100%">
	  			</div>
	  			<div class="col-md-4">
	  				<img src="/images/pg1.png" width="100%" style="height:400px;opacity:0.7">
	  				<a href="/signin" class="zocial googleplus">Sign in with Google Account</a>
	  			</div>
	  			<div class="col-md-4" style="opacity:0.7">
	  				<img src="/images/pg3.png" width="100%">
	  			</div>
	  		</div>
		            	
	  	
	  	</div>
	  </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="assets/js/jquery.backstretch.min.js"></script>
    <script>
        // $.backstretch("assets/img/login-bg.jpg", {speed: 500});
        // $.backstretch("/images/16-deserts-gilakids-full.jpg", {speed: 500});
        $.backstretch("/images/slide_321041_3006870_free.jpg", {speed: 500});
    </script>


  </body>
</html>
